.container {
  animation: slide-in 0.5s ease-out;
  margin-top: 24px;
  padding: 16px;
}

.listItem {
  list-style: none;
  background: #fff;
  z-index: 2;
  transition: all 0.2s ease-in-out;
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &::before {
    border: 2px solid #000;
    z-index: -1;
    background-color: #fff;
  }

  &::after {
    will-change: transform;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease;
    z-index: -2;
    box-shadow: 4px 4px #000;
  }

  @media (hover) {
    &::after {
      opacity: 0;
      transform: scale(0.9);
    }

    &:hover {
      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &:hover,
  &:focus,
  &:active {
    outline: 0;
    transform: scale(1.01);
    // -webkit-text-stroke: 0.45px;
  }

  .item {
    transition: all 0.2s ease-in-out;
  }

  &[data-severity='-1'] {
    &,
    .item,
    &::before {
      border-color: #666;
    }

    .item {
      opacity: 0.65;

      &:hover,
      &:focus,
      &:active {
        opacity: 1;

        border-color: #000;
      }
    }
  }

  // &[data-severity='0'] {
  //   .item {
  //     &:hover,
  //     &:focus,
  //     &:active {
  //       border-color: #666;
  //     }
  //   }
  // }

  &[data-severity='1'] {
    .item {
      border-color: #fcc31e;
      border-width: 4px;
      background-color: #fef3d2;

      &:hover,
      &:focus,
      &:active {
        opacity: 0.8;
      }
    }
  }

  &[data-severity='2'] {
    .item {
      border-color: #fc821e;
      border-width: 4px;
      background-color: #feecd2;
    }
  }

  &[data-severity='3'] {
    .item {
      border-color: #d60000;
      border-width: 4px;
      background-color: #fbe6e6;
    }
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.item {
  display: block;
  border: 2px solid #000;
  padding: 16px;
  list-style: none;
  text-decoration: none;

  h1 {
    text-decoration: underline;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
