.gg-t-whisper {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 20px;
}
.gg-t-whisper-loud {
  font-weight: 700;
}
.gg-t-speak {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.gg-t-speak-up {
  font-weight: 700;
}
.gg-t-loud {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .gg-t-loud {
    font-size: 24px;
    line-height: 32px;
  }
}
.gg-t-louder {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
@media screen and (min-width: 768px) {
  .gg-t-louder {
    font-size: 36px;
    line-height: 48px;
  }
}
.gg-t-shout {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
@media screen and (min-width: 768px) {
  .gg-t-shout {
    font-size: 54px;
    line-height: 64px;
  }
}
.gg-t-megaphone {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
@media screen and (min-width: 768px) {
  .gg-t-megaphone {
    font-size: 82px;
    line-height: 88px;
    letter-spacing: -0.02em;
  }
}
