# Set CSP header
Header set Content-Security-Policy "default-src; script-src 'self' 'unsafe-inline'; script-src-elem; script-src-attr; style-src *; style-src-elem; style-src-attr; img-src *; font-src 'self' static.giffgaff.com; connect-src 'self' *.davwheat.dev davwheat.dev *.giffgaff.com giffgaff.com; media-src *; object-src; prefetch-src *; child-src; frame-src 'self' *.davwheat.dev davwheat.dev; worker-src; frame-ancestors 'self' *.davwheat.dev davwheat.dev; form-action 'self' *.davwheat.dev davwheat.dev; upgrade-insecure-requests; disown-opener; base-uri; manifest-src; plugin-types; report-uri; report-to"